$review-bg: #f3f9ff;
$review-text: #074786;
$view-bg: #1b88f4;
$view-text: #ffffff;
$content-text: #4b5665;
$subheading-text: #2c384a;
$link-test: #1b88f4;
$discount-bg: #f2f4f7;
$discount-color: #074786;
$card-bg: #ffffff;
$choice-bg: #ff7724;
$number-text: #626e79;

.hosting {
  width: 100%;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4.25rem;
    margin-top: 1.5rem;
  }

  &__card {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $card-bg;
    padding: 1.8rem 1rem 1rem 1rem;
    border-radius: 12px;
  }

  &__number {
    font-size: 1.25rem;
    color: $number-text;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    align-self: flex-start;
  }

  &__choice {
    top: -10px;
    left: 0;
    position: absolute;
    background-color: $choice-bg;
    color: white;
    border-radius: 0px 8px 8px 0px;
    width: 8.5rem;
    padding: 0.4rem 0;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: space-evenly;
  }

  &__title {
    font-weight: 700;
  }

  &__review {
    right: 0;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &--container {
      background-color: $review-bg;
      color: $review-text;
      border-radius: 12px;
      display: flex;

      flex-direction: column;
      border: none;
      align-items: center;
      width: 135px;
      padding: 1rem;
    }
  }

  &__rating {
    font-size: 2rem;
    line-height: 48px;
  }

  &__feedback {
    font-size: 14px;
    line-height: 20px;
  }

  &__btn {
    background-color: $view-bg;
    color: $view-text;
    border: none;
    border-radius: 12px;
    width: 232px;
    height: 48px;
    text-align: center;
    font-size: 1rem;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    cursor: pointer;
  }

  &__content {
    color: $content-text;
  }

  &__subheading {
    color: $subheading-text;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4rem;
  }

  &__description {
    width: 56%;
  }

  &__img {
    width: 8.8125rem;
    height: 103px;

    &--container {
      text-align: center;
    }

    &--caption {
      line-height: 20px;
      color: $number-text;
    }
  }

  &__subcontent {
    padding: 1rem 0 0 1rem;
  }

  &__link {
    color: $link-test;
    font-size: 1rem;
    line-height: 24px;
    padding: 1rem 0;
    display: flex;
    align-items: center;
  }

  &__points {
    display: flex;
    gap: 1rem;
    align-items: center;
    &--number {
      color: $view-bg;
      line-height: 24px;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__subtitle {
    color: $subheading-text;
    line-height: 24px;
  }

  &__favourite {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__discount {
    &--percentage {
      font-size: 13px;
      line-height: 20px;
      background-color: $discount-bg;
      color: $discount-color;
      width: 53px;
      border-radius: 4px;
      margin: 0.5rem 0;
    }
  }
}

.small_info_icon {
  align-self: flex-end;
}

@media only screen and (max-width: 992px) {
  .hosting {
    &__btn {
      width: 150px;
      font-size: 1.2rem;
      font-weight: 600;
    }

    &__discount {
      &--percentage {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 607px) {
  .icon {
    width: 1.4rem;
  }
}

@media only screen and (max-width: 607px) {
  .hosting {
    &__btn {
      width: 100px;
    }

    &__review {
      &--container {
        width: 100px;
      }
    }
  }
}
